/*
    cinza escuro: D3D3D3
*/
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.dadosContainer{
    display: grid;
    background-color: #D3D3D3;
    grid-template-columns: 30vw 40vw;
    grid-template-rows: 6vh 70vh 10vh;
    grid-template-areas: 
    "titulo titulo"
    "dados foto"
    "dados menu";
}
@media (max-width: 35em) {
    .dadosContainer{
        display: grid;
        background-color: #D3D3D3;
        grid-template-columns: 100vw;
        grid-template-rows: 45vh 5vh 40vh 10vh;
        grid-template-areas: 
        "foto"
        "titulo"
        "dados"
        "menu";
    }
}

.titulo{
    display: flex;
    grid-area: titulo;
    background-image: linear-gradient(90deg, rgb(228, 228, 228), white);
    justify-content: center;  
    align-items: center;

}
.dados{
    grid-area: dados;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    background-color: white;
    padding: 4%;
    font-size: 18px;
    margin: 10px;
    border-radius: 10px;
}
input{
    height: 10%;
    border: none;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
    padding: 5%;
    
}
.image{
    display: flex;
    grid-area: foto;
    justify-content: center;
}
.dogview{
    position: relative;
}
.oculos{
    position: absolute;
}
.menu{
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.btnAvancar{
    border: none;
    border-radius: 10px;
    padding: 2%;
    margin: 5px 5px;
    font-size: 20px;
}
.btnVoltar{
    border: none;
    border-radius: 10px;
    padding: 2%;
    margin: 5px 5px;
    font-size: 14px;
}
.btn{
    transition: .3s;
}
.btn:hover{
    border: solid 1px blueviolet;
    box-shadow: 2px 2px 5px blueviolet;
}
.btn:active{
    color: blueviolet;
    background-color: white;

}